@import '../custom';
@import '../inc/mixins';


.hero {
    margin-top: 1.875rem;
    margin-bottom: 1.875rem;

    @include media-breakpoint-down(lg) {
        display: none;
    }

        .carousel {
            padding-left: 5rem;
            padding-right: 5rem;

            @include media-breakpoint-down(xl) {
                padding-left: 0rem;
                padding-right: 0rem;
            }

            .carousel-inner {

                .carousel-item {
                    position: relative;

                    .carousel-caption {
                        height: 100%;
                        padding-top: 3rem;
                        
                        @include media-breakpoint-up(xl) {
                            @include bottomLeftCorner2;
                            width: 50%;                           
                        }

                        @include media-breakpoint-down(xl) {
                            position: absolute;
                            top: 50%;
                            left: 40%;
                            transform: translate(-50%, -50%);
                            width: 65%;
                            padding-top: 3rem; 
                        }

                        .caption {
                            text-align: left;

                            h5 {
                                color: $gray-900;
                                font-size: 2rem;
                                font-weight: 900;
                                
                                @include media-breakpoint-down(xl) {
                                    font-size: 1.3rem;
                                    font-weight: 700;
                                }
                            }

                            p {
                                color: $gray-700;
                                font-size: 1rem;

                                @include media-breakpoint-down(xxl) {
                                    font-size: 0.875rem;
                                }
                            }

                            button {
                                border-radius: 10px;
                            }

                        }
                    }
                }
            }
        }
}