@import '../custom';

.category-filter {

    font-size: 0.875rem;

    .card {

        .card-header {
            font-weight : 500;
            color: $gray-900;
        }
    
        .searchbar {

            input {
                border-top-left-radius: 8px !important;
                border-bottom-left-radius: 8px !important;
            }

            button {
                border-top-right-radius: 8px !important;
                border-bottom-right-radius: 8px !important;
            }
        }

        hr {
            color: $gray-600;
        }
    }

    input {
        border-radius: 10px;
    }

    input::placeholder {
        font-size: 0.875rem;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

}