@import '../custom';
@import '../inc/mixins';

.category {
    padding-left: 5rem;
    padding-right: 5rem;

    @include media-breakpoint-down(xl) {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    @include media-breakpoint-down(md) {
        margin-top: 2rem;
    }

    &--wrapper {
        overflow-x: auto;
        gap: 0.1rem;

        @include media-breakpoint-down(sm) {
            gap: 0rem;
        }

        .card {
            width : 8.75rem;
            border-radius: 5px;

            @include media-breakpoint-down(sm) {
                margin-right: 0.3rem;
            }

            img {
                width: 2.5rem;
                height: 2.5rem;
            }

            .card-text {
                font-size: 0.813rem;
            }
        }
    }

    .line {
        content: "";
        width: 100%;
        height: 0.03rem;
        display: block;
        background-color: $gray-300;
    }
}