@import '../custom';

.footer {
    padding-bottom: 2rem;

    h5 {
        color: $gray-700;
        font-size: 0.813rem;
        font-weight: 900;
    }

    &--desc {
        font-size: 0.813rem;
        color: $gray-600;
        width: 20%;
    }

    &--link {
        text-decoration: none;
        color: $gray-600;
        font-size: 0.813rem;

        &:hover {
            text-decoration:underline;
        }
    }

    &--kontak {
        span {
            font-size: 0.875rem;
            color: $gray-600;
        }

        .socmed {
            gap: 1rem;

            svg {
                color: $gray-600;
            }
        }
    }

    .line {
        content: "";
        width: 100%;
        height: 0.03rem;
        display: block;
        background-color: $gray-300;
        margin-bottom: 2.5rem;
    }
    
}