
@import '../custom';


.menu {
    font-family: 'Hind Madurai', sans-serif;

    .navbar-brand {

        span {
            font-size: 1.063rem;
            font-weight: 600;
        }
    }

    .navbar-nav {
        
        .nav-item {
                                    
            .nav-link {
                margin-left: 1.813rem;
                font-size: 0.875rem;
                font-weight: 400;

                svg {
                    margin-top: -0.125rem;
                    margin-left: 0.25rem;
                }
            }
        }
    }
        
}