@import '../custom';

.payment-method {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 3rem;

    @include media-breakpoint-down(lg) {
        display: none;
    }

    h5 {
        font-size: 0.813rem;
        font-weight: 700;
        color: $gray-900;
    }
}