@import '../custom';

.product-feed {
    padding-left: 5rem;
    padding-right: 5rem;

    @include media-breakpoint-down(xl) {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    &--title {
        
        h5 {
            font-size: 0.813rem;
            color: $gray-900;
        }

        .text-link {
            font-size: 0.75rem;
            color: $secondary;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &--wrapper {
        overflow-x: auto;
        gap: 0.2rem;

        @include media-breakpoint-down(sm) {
            gap: 0rem;
        }

        .product {
            width: 14rem;
            border: 1px solid $gray-300;
            border-radius: 8px;
            font-size: 0.813rem;
            color: $gray-900;

            @include media-breakpoint-down(sm) {
                width: 10.125rem;
                margin-right: 0.3rem;
            }

            &--charity{
                font-weight: 700;
                background: $primary;
            }

            &--name {
                font-weight: 500;
                text-decoration: none;
                color: $gray-900;

                p {
                    margin-top: 0.313rem;
                    margin-bottom: 0.313rem;
                }

                &:hover {
                    text-decoration: underline;
                    color: $primary;
                }
            }

            &--price {
                font-weight: 700;
                margin-bottom: 0.313rem;
            }

            &--seller {
                font-weight: 300;
                color: $gray-900;
                text-decoration: none;

                p{
                    margin-bottom: 0.313rem;
                }

                &:hover {
                    color: $primary;
                }
            }

            &--ratings{
                font-weight: 300;

                svg {
                    margin-top: -0.1rem;
                }
            }

        }

        .category-title {
            font-weight: 500;
            color: $gray-900;
        }

        .category-sort {
            border-radius: 5px;
            border: 1px solid $gray-300;
        }
    }

    .line {
        content: "";
        width: 100%;
        height: 0.03rem;
        display: block;
        background-color: $gray-300;
        margin-top: 2.063rem;
    }
}

