@import '../custom';

.category-page{
    padding-left: 5rem;
    padding-right: 5rem;

    @include media-breakpoint-down(xl) {
        padding-left: 0rem;
        padding-right: 0rem;
    }
    
    .line {
        content: "";
        width: 100%;
        height: 0.03rem;
        display: block;
        background-color: $gray-300;
        margin-top: 2.063rem;
    }

}