
// White and gray colors 
$white:    #fff;
$gray-50:  #F7FAFC;
$gray-100: #EDF2F7;
$gray-200: #E2E8F0;
$gray-300: #CBD5E0;
$gray-400: #A0AEC0;
$gray-500: #718096;
$gray-600: #4A5568;
$gray-700: #2D3748;
$gray-800: #1A202C;
$gray-900: #171923;
$black:    #000;

$yellow: #FFDE58;
$orange: #F16334; 

$primary: $yellow;
$secondary: $orange;

$navbar-light-color:                $gray-500;
$navbar-light-hover-color:          $gray-700;
$navbar-light-active-color:         $gray-900;
$nav-link-font-weight:              400 !important;

$form-range-thumb-bg:                      $secondary;
$form-range-thumb-active-bg:               tint-color($secondary, 70%);

$component-active-bg:         $secondary;


@import "../../node_modules/bootstrap/scss/bootstrap.scss"; 