@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap');

@import './custom';
@import './components/navbar';
@import './components/footer';
@import './components/banner';
@import './components/paymentmethod';
@import './components/category';
@import './components/productFeed';
@import './components/categoryFilter';
@import './pages/category';
@import './inc/mixins';

.App {
    background-color: $gray-50;
    font-family: 'Hind Madurai', sans-serif;
}